.Arrow,
.Arrow1 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.ArrowIcon {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    animation: shake-glow 4s infinite ease-in-out;

}

.Arrow .ArrowIcon {
    width: 68px;
    height: 68px;
    padding: 14px;
    border: 1px solid var(--dark-gray);
    background-color: var(--pure-black);

}

.Arrow1 .ArrowIcon {
    width: 52px;
    height: 52px;
    padding: 20px;
    border: 1px solid var(--medium-gray);
    background-color: var(--shadow-black);

}

.ArrowIcon:active {
    transform: scale(1.1);
}

.Arrow .ArrowIcon img {
    width: 28px;
    transition: transform 0.3s ease;
}

.Arrow1 .ArrowIcon img {
    width: 24x;
    transition: transform 0.3s ease;
}

.ArrowIcon:hover img {
    transform: translateX(4px);
}

.ArrowText {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--nutral-gray);

}

@keyframes shake-glow {

    0%,
    100% {
        transform: translateX(0);
        box-shadow: 0 0 0px var(--sunset-clay);
    }

    2% {
        transform: translateX(-1.5px);
        box-shadow: 0 0 8px var(--sunset-clay);
    }

    4% {
        transform: translateX(1.5px);
    }

    6% {
        transform: translateX(-1px);
        box-shadow: 0 0 12px var(--sunset-blush);
    }

    8% {
        transform: translateX(1px);
    }

    10% {
        transform: translateX(0);
        box-shadow: 0 0 0px transparent;
    }
}

@media (max-width:1440px) {
    .Arrow {
        gap: 8px;
    }

    .Arrow .ArrowIcon {
        width: 52px;
        height: 52px;
        padding: 16px;

    }

    .Arrow1 .ArrowIcon {
        width: 40px;
        height: 40px;
        padding: 10px;


    }

    .Arrow .ArrowIcon img {
        width: 20px;
    }

    .ArrowText {
        font-size: 16px;


    }

}