.HeroOpenBlogRight {
    border-radius: 14px;
    padding: 30px;
    gap: 20px;
    background-color: var(--priamry-dark);
}

@media (max-width:1440px) {
    .HeroOpenBlogRight {
        padding: 10px;
        gap: 10px;
    }

}

