.topbar-loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
}

.topbar-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.blurred {
    backdrop-filter: blur(2px);
}

.topbar-bar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
    overflow: hidden;
}

.topbar-bar {
    height: 100%;
    width: 33%;
    animation: progress 1.2s ease-in-out infinite;
    background: linear-gradient(90deg,
            #CE7D63,

            #F2B8A0,

            #EADBD4,

            #CE7D63);
}

@keyframes progress {
    0% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(50%);
        width: 50%;
    }

    100% {
        transform: translateX(200%);
    }
}