.EndSection {
    display: none;
}

@media (max-width:992px) {
    .EndSection {
        width: 100%;
        border-radius: 12px;
        padding: 20px 16px;
        background-color: var(--priamry-dark);
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 6px;

    }

    .BottomArrow {
        width: 48px;
        height: 48px;
        padding: 14px;
        border-radius: 50%;
        border: 1px solid var(--dark-gray);
        background-color: var(--pure-black);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .BottomArrow img {
        width: 20px;
    }

}