.EndSection {
    display: none;
}

@media (max-width:992px) {
    .EndSection {
        width: 100%;
        border-radius: 12px;
        padding: 20px 16px;
        background-color: var(--priamry-dark);
        display: flex !important;
        justify-content: center;
        align-items: center;
        gap: 6px;

    }

    .BottomArrow {
        width: 48px;
        height: 48px;
        padding: 14px;
        border-radius: 50%;
        border: 1px solid var(--dark-gray);
        background-color: var(--pure-black);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.2s ease, box-shadow 0.3s ease;
        animation: shake-glow 4s infinite ease-in-out;

    }
    @keyframes shake-glow {

    0%,
    100% {
        transform: translateX(0);
        box-shadow: 0 0 0px var(--sunset-clay);
    }

    2% {
        transform: translateX(-1.5px);
        box-shadow: 0 0 8px var(--sunset-clay);
    }

    4% {
        transform: translateX(1.5px);
    }

    6% {
        transform: translateX(-1px);
        box-shadow: 0 0 12px var(--sunset-blush);
    }

    8% {
        transform: translateX(1px);
    }

    10% {
        transform: translateX(0);
        box-shadow: 0 0 0px transparent;
    }
}

    .BottomArrow img {
        width: 20px;
    }

}